__pycache__/
src/squadro/.ipynb_checkpoints/
*.egg-info/
/build/
/dist/
/src/squadro/Custom test inputs/
.idea/
/src/squadro/MNIST/
*/.ipynb_checkpoints/*
*/.idea/*
*/.pytest_cache/*
/src/squadro/torchlogs/*
*.coverage
*coverage.xml
report
martin/model
*.pdf

/squadro/data/
/scripts/aws/
