name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [
          ubuntu-latest,
          #          windows-latest,
          #          macOS-latest
        ]
        python-version: [
          #          "3.10",
          "3.12"
        ]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install torch --index-url https://download.pytorch.org/whl/cpu
          pip install .['all']

      - name: Run tests
        run: pytest squadro --cov=squadro --cov-branch --cov-report=xml --cov-config=coverage.conf

      - name: Check test coverage
        shell: bash -l {0}
        run: |
          coverage report --rcfile=coverage.conf --fail-under=75

      - name: Upload coverage reports to Codecov
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.12'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: MartinBraquet/squadro

